@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #fff6ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-lalezar: var(--font-geist-lalezar);
  --color-primary-black: #141412;
  --color-primary-red: #ed412e;
  --color-primary-white: #fff6ec;
  --color-primary-dark: #141412;
  --color-Secondary-gold: #eca813;
  --color-Secondary-lightblue: #73b5b8;
  --color-Secondary-cream: #e3d2b7;
}

.flex-rc {
  @apply flex items-center justify-center;
}
.flex-cc {
  @apply flex flex-col items-center justify-center;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff6ec;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  
  
}

.items-image-shadow {
   filter: drop-shadow(12px 12px 10px rgba(0, 0, 0, 0.7));
}
.shadow-rb {
  box-shadow: 10px 5px 0px -1px rgba(0,0,0,1);
-webkit-box-shadow: 10px 5px 0px -1px rgba(0,0,0,1);
-moz-box-shadow: 10px 5px 0px -1px rgba(0,0,0,1);
}

.shadow-rbv2 {
  box-shadow: 10px 7px 0px -1px rgba(0,0,0,1);
-webkit-box-shadow: 7px 7px 0px -1px rgba(0,0,0,1);
-moz-box-shadow: 10px 7px 0px -1px rgba(0,0,0,1);

}

.inner-shadow {
box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.77) inset;
-webkit-box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.77) inset;
-moz-box-shadow: 2px 3px 13px 0px rgba(0,0,0,0.77) inset;
}